<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>My Account (<%= id %>)</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <span style="display: flex; align-items: center; gap: 20px;margin-left: -55px;">
    <a href="/">
     <i class="fa fa-arrow-left" style="color: rgb(0, 0, 0); font-size: 35px;"></i>
    </a>
  <h1>My Account</h1>
  </span>
  <div class="container">
    <div class="user">
      <div class="user-picture">
        <img height="200" width="200" src="<%= '/images/users/' + picture ?? '/images/blank.webp' %>" />
      </div>
      <div class="user-info">
        <table class="user-table">
          <tr>
            <th>ID:</th>
            <td><%= id %></td>
          </tr>
          <tr>
            <th>Name:</th>
            <td><%= name %></td>
          </tr>
          <tr>
            <th>Rating:</th>
            <td>
              <span style="display: inline-flex; align-items: center; gap: 10px">
                <span>
                  <% if (ratings_count <= 0) {
                    for(let i = 0; i < 5; i++) { %>
                  <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.336)"></i>
                  <% } 
                  } else { 
                    const whole = Math.floor(ratings_sum/ratings_count); 
                    const fraction = ratings_sum/ratings_count - whole; 
                    if (whole >= 5) { 
                      for(let i = 0; i < 5; i++) { %>
                  <i class="fa fa-star" style="color: #ffc107"></i>
                  <% } 
                  } else {
                    for(let i = 0; i < whole; i++) { %>
                  <i class="fa fa-star" style="color: #ffc107"></i>
                  <% } %>
                  <i class="fa fa-star" style="
                        background-image: linear-gradient(
                          to right,
                          #ffc107,
                          <%= 100 * fraction %>%,
                          #ffc107,
                          0%,
                          rgba(0, 0, 0, 0.336)
                        );
                      "></i>
                  <% for(let i = 0; i < 4 - whole; i++) { %>
                  <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.336)"></i>
                  <% }
                  }
                }%></span><span style="font-size: 16px; margin-top: -2px"><b> (<%= ratings_count %>) </b>
                </span></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="padding: 12px 10px">
      <h3 style="text-align: center">Vehicles</h3>
      <div class="cars">
        <% for (const car of Object.values(cars)) { %>
        <div class="car">
          <div class="car-info">
            <table class="car-table" style="border-collapse: separate">
              <tr>
                <th>Model:</th>
                <td><%= car.model %></td>
              </tr>
              <tr>
                <th>License plate:</th>
                <td><%= car.license %></td>
              </tr>
              <tr>
                <th>Seats:</th>
                <td><%= car.seats %></td>
              </tr>
              <% if(car.color) { %>
              <tr>
                <th>Color:</th>
                <td class="car-color">
                  <div style="
                        border-radius: 20px;
                        height: 18px;
                        width: 60px;
                        background-color: <%= '#' + (car.color & 0xffffff)
                          .toString(16) %>;
                      "></div>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <div style="flex: 1"></div>
          <div class="car-picture">
            <img height="100" width="100" src="<%= '/images/cars/' + car.picture ?? '/images/blank_profile.png' %>" />
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="actions">
      <form action="logout" method="post">
        <button>Sign out</button>
      </form>
      <form action="delete" method="post">
        <input type="hidden" name="csrf" value="<%= csrfToken %>">
        <button>Delete account</button>
      </form>
    </div>
  </div>
</body>

</html>